name: OpenTelemetry Instrumentation CI

on:
  schedule:
    - cron:  '0 3 * * *'
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: crystallang/crystal

    steps:
    - uses: actions/checkout@v2
    - name: apt update
      run: apt update
    - name: Install SQLite
      run: apt-get -qy install libsqlite3-dev
    - name: Install dependencies
      run: shards install
    - name: Run tests
      run: crystal spec -t -s
    - name: Run Ameba
      run: bin/ameba
